<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/logo.png" type="image/x-icon">
    <title>Pinfluence — A Creative Digital Platform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="loader">
        <h1>Inspire</h1>
        <h1>Create</h1>
        <h1>Influence Together.</h1>
    </div>
    <div class="cursor"></div>
    <div id="nav">
        <img src="/image/logo.png" alt="">
        <div id="nav-part2">
            <h4><a href="/">Home</a></h4>
            <h4><a href="/feed" id="huntLink">Hunt</a></h4>
            </div>
        <div id="nav-part3">
            <button id="signInButton" class="Sign-in"><a
                    class="bg-purple-500 rounded-full px-4 py-2 font-semibold text-white" href="/login">Login</a></button>
        </div>

    </div>


    <div class="main">
        <div class="page1">

            <h1> Elevate Presence</h1>
            <h2> Crafted Elegance</h2>
            <video autoplay loop muted src="/v.mp4"></video>
        </div>

        <div class="page2">
            <h1>Your Creative Hub</h1>
            <div class="page2-container">
                <div class="page2-left">
                    <h2>where creativity blossoms and passions flourish.</h2>
                </div>
                <div class="page2-right">
                    <p>At Pinfluence, we intricately blend strategic prowess with creative finesse, crafting immersive
                        digital narratives. Our approach is uniquely tailored, offering bespoke branding, web design,
                        and content marketing solutions. Originating in the vibrant DC area, we now bring our visionary
                        expertise to clients worldwide.</p>
                    <button>About us</button>
                </div>
            </div>

        </div>

        <div class="page3">
            <h1></h1>
            <div class="page3-part1">
                <img src="https://images.unsplash.com/photo-1601679147136-22d1032399e4?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <video autoplay loop muted
                    src="https://d33wubrfki0l68.cloudfront.net/a13ea7c2ca2f38134748966280e54af4340ce821/f976d/assets/home/projects_madegood-reduced.mp4"></video>
                <div class="photo1"><img
                        src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Photo 1"></div>
            </div>


        </div>
        <div class="page4">
            <div class="elem">
                <img src="https://d33wubrfki0l68.cloudfront.net/3401770635e95968e300d88f8b9479ecbc008eeb/be2e5/assets/home/home-experience-1.webp"
                    alt="">
                <div class="text-div">
                    <h1>Innovate</h1>
                    <h1>Innovate</h1>
                </div>
                <img src="https://d33wubrfki0l68.cloudfront.net/188bb09da2a445d08ac5b4f706711772e50e8a17/e100a/assets/home/home-experience-2.webp"
                    alt="">
            </div>
            <div class="elem">
                <img src="https://d33wubrfki0l68.cloudfront.net/3401770635e95968e300d88f8b9479ecbc008eeb/be2e5/assets/home/home-experience-1.webp"
                    alt="">
                <div class="text-div">
                    <h1>Inspire</h1>
                    <h1>Inspire</h1>
                </div>
                <img src="https://d33wubrfki0l68.cloudfront.net/188bb09da2a445d08ac5b4f706711772e50e8a17/e100a/assets/home/home-experience-2.webp"
                    alt="">
            </div>
            <div class="elem">
                <img src="https://d33wubrfki0l68.cloudfront.net/3401770635e95968e300d88f8b9479ecbc008eeb/be2e5/assets/home/home-experience-1.webp"
                    alt="">
                <div class="text-div">
                    <h1>Connect</h1>
                    <h1>Connect</h1>
                </div>
                <img src="https://d33wubrfki0l68.cloudfront.net/188bb09da2a445d08ac5b4f706711772e50e8a17/e100a/assets/home/home-experience-2.webp"
                    alt="">
            </div>

        </div>
        <div class="page5">
            <div class="container">
                <div class="header">
                    <h1>Top Categories</h1>
                    <div class="date" id="currentDate"></div>
                </div>

                <div class="grid-container">
                    <!-- Box 1 -->
                    <div class="grid-item">
                        <a href="/pages/outfit">
                            <img src="https://plus.unsplash.com/premium_photo-1668485968642-30e3d15e9b9c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG91dGZpdHxlbnwwfHwwfHx8MA%3D%3D"
                                alt="Category 1">
                        </a>
                        <span>Your Outfit Ideas</span>

                    </div>
                    <!-- Box 2 -->
                    <div class="grid-item">
                        <a href="/pages/sports">
                            <img src="https://images.unsplash.com/photo-1617085606193-6b17105cff2a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Category 2">
                        </a>
                        <span>Sports Idea</span>
                    </div>
                    <!-- Box 3 -->
                    <div class="grid-item">
                        <a href="/pages/breakfast">
                            <img src="https://images.unsplash.com/photo-1525351484163-7529414344d8?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Category 3">
                        </a>
                        <span>Breakfast Idea</span>
                    </div>
                    <!-- Box 4 -->
                    <div class="grid-item">
                        <a href="/pages/quotes">
                            <img src="https://images.unsplash.com/photo-1574554446761-1e8be00556ce?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Category 4">
                        </a>
                        <span>Warm & delightfull Quotes</span>
                    </div>
                    <!-- Box 5 -->
                    <div class="grid-item">
                        <a href="/pages/weeding">
                            <img src="https://images.unsplash.com/photo-1606216794074-735e91aa2c92?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fHdlZGRpbmd8ZW58MHx8MHx8fDA%3D"
                                alt="Category 5">
                        </a>
                        <span>Weeding Idea</span>
                    </div>
                    <!-- Box 6 -->
                    <div class="grid-item">
                        <a href="/pages/tech">
                            <img
                                src="https://images.unsplash.com/photo-1509198397868-475647b2a1e5?q=80&w=1894&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        </a>
                        <span>Tech Ideas</span>
                    </div>
                    <!-- BOX 7 -->
                    <div class="grid-item">
                        <a href="/pages/fashion">
                            <img src="https://images.unsplash.com/photo-1595845824331-dce53124717d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Category 6">
                        </a>
                        <span>Fashion Week</span>
                    </div>
                </div>

            </div>

        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">shipping</a></li>
                            <li><a href="#">returns</a></li>
                            <li><a href="#">order status</a></li>

                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>online shop</h4>
                        <ul>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">Dress</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            var userIsLoggedIn = <%- JSON.stringify(userIsLoggedIn) %>;
            window.onload = function() {
                var loginButton = document.getElementById('signInButton');
                if (userIsLoggedIn) {
                    loginButton.innerHTML = '<a class="bg-purple-500 rounded-full px-4 py-2 font-semibold text-white" href="/profile">Profile</a>';
                } else {
                    loginButton.innerHTML = '<a class="bg-purple-500 rounded-full px-4 py-2 font-semibold text-white" href="/login">Login</a>';
                }
            };
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
            integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
            integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascripts/main.js"></script>
</body>

</html>